{% extends '_layout.html' %}
{% block body %}
      <h2>Hallo {{ name }},</h2>
      <p>deine Anmeldung auf der Warteliste von <strong>{{ stationName }}</strong> wurde erfolgreich entgegengenommen.</p>
      <p>Unter folgendem Link kannst du jederzeit deinen Status einsehen, dein Interesse erneut bestätigen oder dich von der Warteliste entfernen:</p>
      <div class="btn-wrap"><a class="btn" href="{{ url }}">Wartelisten-Status ansehen</a></div>
      <p class="hint">Bitte bewahre diesen Link gut auf. Du wirst regelmäßig gebeten, dein Interesse zu bestätigen.</p>
{% endblock %}
