{% extends '_layout.html' %}
{% block body %}
      <h2>Hi {{ name }},</h2>
      <p>Someone just tried to create a new account using your email address.</p>
      <p>If that was you, you already have an account. Please sign in or reset your password instead of registering again:</p>
      <div class="btn-wrap"><a class="btn" href="{{ loginUrl }}">Sign in</a></div>
      <p class="hint">If it wasn't you, you can ignore this message. No new account was created and your existing account is unaffected.</p>
{% endblock %}
